In [1]:
import pandas as pd
import numpy as np

In [5]:
data = {
    "gender": ["female", "male", "female", "male", "female", "male", "female", "male"],
    "race/ethnicity": ["group B", "group C", "group B", "group D", "group C", "group B", "group D", "group C"],
    "parental level of education": [
        "bachelor's degree",
        "some college",
        "master's degree",
        "associate's degree",
        "high school",
        "some college",
        "associate's degree",
        "high school"
    ],
    "lunch": ["standard", "free/reduced", "standard", "standard", "free/reduced", "standard", "free/reduced", "standard"],
    "test preparation course": ["none", "completed", "none", "completed", "none", "none", "completed", "none"],
    "math score": [72, 65, 90, 58, 76, 62, 85, 70],
    "reading score": [75, 68, 92, 60, 78, 64, 88, 72],
    "writing score": [78, 70, 94, 59, 80, 66, 90, 74]
}

df = pd.DataFrame(data)
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,75,78
1,male,group C,some college,free/reduced,completed,65,68,70
2,female,group B,master's degree,standard,none,90,92,94
3,male,group D,associate's degree,standard,completed,58,60,59
4,female,group C,high school,free/reduced,none,76,78,80
5,male,group B,some college,standard,none,62,64,66
6,female,group D,associate's degree,free/reduced,completed,85,88,90
7,male,group C,high school,standard,none,70,72,74

In [6]:
import os
os.listdir()

['.config', 'sample_data']

In [8]:
df.head()
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group D,associate's degree,standard,completed,58,60,59
4,female,group C,high school,free/reduced,none,76,78,80
5,male,group B,some college,standard,none,62,64,66
6,female,group D,associate's degree,free/reduced,completed,85,88,90
7,male,group C,high school,standard,none,70,72,74

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       8 non-null      object
 1   race/ethnicity               8 non-null      object
 2   parental level of education  8 non-null      object
 3   lunch                        8 non-null      object
 4   test preparation course      8 non-null      object
 5   math score                   8 non-null      int64
 6   reading score                8 non-null      int64
 7   writing score                8 non-null      int64
dtypes: int64(3), object(5)
memory usage: 644.0+ bytes

In [10]:
df.describe()

       math score  reading score  writing score
count    8.000000       8.000000       8.000000
mean    72.250000      74.625000      76.375000
std     11.067972      11.147549      11.758735
min     58.000000      60.000000      59.000000
25%     64.250000      67.000000      69.000000
50%     71.000000      73.500000      76.000000
75%     78.250000      80.500000      82.500000
max     90.000000      92.000000      94.000000

In [11]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [13]:
numerical_features = ['math score', 'reading score', 'writing score']
df[numerical_features].head()


categorical_features = [
    'gender',
    'race/ethnicity',
    'parental level of education',
    'lunch',
    'test preparation course'
]
df[categorical_features].head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course
0,female,group B,bachelor's degree,standard,none
1,male,group C,some college,free/reduced,completed
2,female,group B,master's degree,standard,none
3,male,group D,associate's degree,standard,completed
4,female,group C,high school,free/reduced,none

In [14]:
for col in categorical_features:
    print(f"\nUnique values in {col}:")
    print(df[col].value_counts())

Unique values in gender:
gender
female    4
male      4
Name: count, dtype: int64

Unique values in race/ethnicity:
race/ethnicity
group B    3
group C    3
group D    2
Name: count, dtype: int64

Unique values in parental level of education:
parental level of education
some college          2
high school           2
associate's degree    2
bachelor's degree     1
master's degree       1
Name: count, dtype: int64

Unique values in lunch:
lunch
standard        5
free/reduced    3
Name: count, dtype: int64

Unique values in test preparation course:
test preparation course
none         5
completed    3
Name: count, dtype: int64

In [15]:
target_variable = 'math score'

input_features = [
    'gender',
    'race/ethnicity',
    'parental level of education',
    'lunch',
    'test preparation course',
    'reading score',
    'writing score'
]

print("Target Variable:", target_variable)
print("Input Features:", input_features)

Target Variable: math score
Input Features: ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course', 'reading score', 'writing score']

In [16]:
df.shape

(8, 8)

In [17]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [18]:
df['gender'].value_counts(normalize=True) * 100

gender
female    50.0
male      50.0
Name: proportion, dtype: float64